@use "../../styles/variables";

.button{
    background-color: variables.$button-background;
    color:variables.$white-text;

    border-radius: 5px;
    border:none;
    height: 50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
    transition: background-color variables.$transition-duration;

    &:hover{
        background-color: darken(variables.$button-background, 5);
    }

    &.secondary{
        background-color: lighten(variables.$button-background, 10);

        &:hover{
            background-color: darken(variables.$button-background, 1);
        }
    }
}

