@use './variables';

@font-face {
    font-family: "Share Tech";
    src: url("/fonts/ShareTech-Regular.ttf");
}


:root{
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}


ul,h1, h2, h3, h4{
    margin:0;
    padding: 0;
}

body{
    background-color: variables.$app-background;
    color: variables.$main-text;

    .container{
        padding-block: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        main{
            min-width: 300px;
            width: 1000px;
            min-height: 500px;

            display: flex;
            flex-direction: column;

            section{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                max-height: 700px;

                @media(min-width: variables.$layout-breakpoint-medium){
                    flex-direction: row;
                    min-height: 500px;
                    max-height: 500px;
    
                    > :first-child{
                        width: 75%;
                    }
    
                    > :nth-child(2){
                        width: 25%;
                    }
                }
            }
        }
    }

}