@use "../../../../styles/variables";
@use "sass:color";


.todoList{
    background-color: variables.$main-background;
    list-style-type: none;
    font-size: 1.3rem;
    overflow:auto;
    
    scrollbar-gutter: stable;
    padding-block: 5px;
    padding-left: 5px;

    
    z-index: 20;


    .todoItem{
        @include variables.shared-padding;
        border-bottom:2px solid variables.$header-background;

        &:last-child{
            border-bottom:none;
        }
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        user-select: none;

        transition: background-color variables.$transition-duration;
        
        &:hover{
            background-color: color.adjust($color:variables.$main-background, $lightness: -5%);
        }

        &.completed{
            background-color: rgb(157, 243, 157);
            text-decoration: line-through;
        }

        .removeIcon{
            color: variables.$red-text;
            background-color: variables.$sidebar-background;
            border:none;

            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            transition: color variables.$transition-duration, background-color variables.$transition-duration;

            &:hover{
                color: color.adjust($color:variables.$red-text, $lightness: -10%);
                background-color: color.adjust($color:variables.$sidebar-background, $lightness: -5%);
            }
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }
      
    &::-webkit-scrollbar-track {
        background: variables.$header-background;
    }
      
    &::-webkit-scrollbar-thumb {
        background: variables.$app-background;
        border-radius: 5px;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background-color: color.adjust($color:variables.$app-background, $lightness: -10%);
    }

}