@use "../../../../styles/variables";


.todoList{
    background-color: variables.$main-background;
    list-style-type: none;
    font-size: 1.3rem;
    overflow:auto;
    
    scrollbar-gutter: stable;
    padding-block: 5px;
    padding-left: 5px;


    .todoItem{
        @include variables.shared-padding;
        border-bottom:2px solid variables.$header-background;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        user-select: none;

        transition: background-color variables.$transition-duration;
        
        &:hover{
            background-color: darken(variables.$main-background, 5);
        }

        &.completed{
            background-color: rgb(157, 243, 157);
            text-decoration: line-through;
        }

        .removeIcon{
            color: variables.$red-text;
            background-color: variables.$sidebar-background;
            border:none;

            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            transition: color variables.$transition-duration, background-color variables.$transition-duration;

            &:hover{
                color: darken(variables.$red-text, 10);
                background-color: darken(variables.$sidebar-background, 5);
            }
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }
      
    &::-webkit-scrollbar-track {
        background: variables.$header-background;
    }
      
    &::-webkit-scrollbar-thumb {
        background: variables.$app-background;
        border-radius: 5px;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background: darken(variables.$app-background, 10);
    }

}