@use "../../styles/variables";
@use "sass:color";

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
  padding-top: 15px;

  .error{
    color: variables.$red-text;
    position: absolute;
    top: -7px;
    padding-left: 10px;
  }

  .input {
    border: 2px solid variables.$border-color;
    border-radius: 5px;
    padding-block: 13px;
    padding-left: 10px;
    font-style: italic;

    &::placeholder{
        color: color.adjust($color:variables.$main-text, $lightness: 70%);
    }
  }
}