@use "../../styles/variables";

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    font-weight: bold;
    color: variables.$main-text;
  }

  .input {
    border: 2px solid variables.$border-color;
    border-radius: 5px;
    padding-block: 13px;
    padding-left: 10px;
    font-style: italic;

    &::placeholder{
        color: lighten(variables.$main-text, 70);
    }
  }
}