@use "../../styles/variables";

.header{
    @include variables.shared-padding;
    background-color: variables.$header-background;
    height: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;

    .tabsContainer{
        list-style-type: none;
        flex-grow: 1;

        margin-inline:40px;

        display: flex;
        gap:20px;

        .tabItem{
            background-color: darken(variables.$main-background, 10);
            padding-top: 8px;
            padding-inline: 10px;
            padding-bottom: 20px;
            margin-bottom: -20px;

            cursor: pointer;
            min-width: 80px;

            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            text-decoration: none;
            color:variables.$main-text;

            z-index: 10;

            &.active{
                background-color: variables.$main-background;

                &:hover{
                    background-color: darken(variables.$main-background,5);
                }
            }

            &:hover{
                background-color: darken(variables.$main-background,25);
            }
        }
    }

    .circlesContainer{
        display: flex;
        gap: 7px;

        .circle{
            width: 18px;
            height: 18px;
            background-color: variables.$actions-background;
            border-radius: 100%
        }
    }

    .counter{
        position: absolute;
        right: 20px;

        @media(max-width:600px){
            background-color: variables.$header-background;
            top: -40px;
            right: 0;

            padding: 4px 10px;
            border-radius: 10px;
        }
    }
}
