@use "../../styles/variables";
@use "sass:color";

.header{
    @include variables.shared-padding;
    background-color: variables.$header-background;
    height: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;

    .tabsContainer{
        list-style-type: none;
        flex-grow: 1;

        margin-inline:40px;

        display: flex;
        gap:35px;

        .tabItem{
            position: relative;
            background-color: color.adjust($color:variables.$main-background, $lightness: -10%);
            padding-top: 8px;
            padding-inline: 10px;
            padding-bottom: 20px;
            margin-bottom: -20px;

            cursor: pointer;
            min-width: 100px;

            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: none;

            text-decoration: none;
            color:variables.$main-text;

            z-index: 4;

            &.active{
                background-color: variables.$main-background;
                z-index: 10;

                .leftCurvedEdge, .rightCurvedEdge{
                    background-color: variables.$main-background;
                }

                &:hover{
                    background-color: color.adjust($color:variables.$main-background, $lightness: -5%);
                    
                    .leftCurvedEdge, .rightCurvedEdge{
                        background-color: color.adjust($color:variables.$main-background, $lightness: -5%);
                    }
                }
            }

            &::before, &::after {
                content: "";
                position: absolute;
                z-index: 0;

                bottom: 11.8px;
                width: 23px;
                height: 23px;
                border-radius: 100%;
                background-color: variables.$header-background;
            }
        
            &::before { left: -22.9px; }
            &::after  { right: -22.9px; }

            @mixin curvedEdge(){
                position: absolute;
                bottom: 10px;

                width: 15px;
                height: 15px;

                background-color: color.adjust($color:variables.$main-background, $lightness: -10%);
                z-index: -1
            }

            .leftCurvedEdge{
                @include curvedEdge();
                left: -8px;               
            }

            .rightCurvedEdge{
                @include curvedEdge();
                right: -8px;
            }

            &:hover{
                background-color: color.adjust($color:variables.$main-background, $lightness: -25%);

                .leftCurvedEdge, .rightCurvedEdge{
                    background-color: color.adjust($color:variables.$main-background, $lightness: -25%);
                }
            }
        }
    }

    .circlesContainer{
        display: flex;
        gap: 7px;

        .circle{
            width: 18px;
            height: 18px;
            background-color: variables.$actions-background;
            border-radius: 100%
        }
    }

    .counter{
        position: absolute;
        right: 20px;

        @media(max-width: variables.$layout-breakpoint-small){
            background-color: variables.$header-background;
            top: -40px;
            right: 0;

            padding: 4px 10px;
            border-radius: 10px;
        }
    }
}
