@use "../../styles/variables";

.header{
    @include variables.shared-padding;
    background-color: variables.$header-background;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .circlesContainer{
        display: flex;
        gap: 7px;

        .circle{
            width: 17px;
            height: 17px;
            background-color: variables.$actions-background;
            border-radius: 100%
        }
    }
}
