@use "../../styles/variables";

.header{
    text-transform: uppercase;
    color:variables.$dimmed-text;
    font-size: 5rem;
    letter-spacing: 50px;

    position:absolute;
    top: 12px;
    z-index: -1;
}