@use "../../styles/variables";
@use "sass:color";

.header{
    text-transform: uppercase;
    color:variables.$dimmed-text;
    font-size: 5rem;
    letter-spacing: 50px;

    position:absolute;
    top: -45px;
    z-index: -1;

    width: 100%;
    text-align: center;

    @media(max-width:variables.$layout-breakpoint-medium){
        letter-spacing: 30px;
    }

    @media(max-width:variables.$layout-breakpoint-small){
        letter-spacing: 0px;
    }
}