@use "../../styles/variables";
@use 'sass:color';

.footer{
    width: 100%;
    text-align: end;

    .span{
        color:variables.$dimmed-text;

    }

    .link{
        color: color.adjust($color: variables.$dimmed-text, $lightness: -5%);
        transition: color variables.$transition-duration;

        &:hover{
            color: color.adjust($color: variables.$dimmed-text, $lightness: -10%);
        }
    }
}
